.form-group
	label(for="estimate") Estimate:&nbsp;
	#estimate.btn-group.btn-group-sm
		button.btn.btn-default(type="button") XS
		button.btn.btn-default(type="button") S
		button.btn.btn-default(type="button") M
		button.btn.btn-default(type="button") L
		button.btn.btn-default(type="button") XL