.form-group
	label(for="estimate") Estimate:&nbsp;
	#estimate.btn-group.btn-group-sm
		button.btn.btn-default(type="button", data-bind="css: { 'btn-primary': estimate() === 'XS' }") XS
		button.btn.btn-default(type="button", data-bind="css: { 'btn-primary': estimate() === 'S' }") S
		button.btn.btn-default(type="button", data-bind="css: { 'btn-primary': estimate() === 'M' }") M
		button.btn.btn-default(type="button", data-bind="css: { 'btn-primary': estimate() === 'L' }") L
		button.btn.btn-default(type="button", data-bind="css: { 'btn-primary': estimate() === 'XL' }") XL
