!!!5
html
	head
		link(rel='stylesheet', href='css/main_style.css')
		script(data-main='js/config', src='js/libs/require.js')
		meta(name="viewport", content="width=device-width, initial-scale=0.5, maximum-scale=0.5, user-scalable=no")	
		block head
	body
		.wrapper
			include header_layout
			include leftpanel_layout
			include content_layout