extend ../layouts/page_layout

block head
	title Login
	script(type='text/javascript').
		var MainModule = "viewmodels/login_view_model";
	script(data-main='js/config', src='js/libs/require.js')

block body
	.jumbotron
		h1 GitHub Tracker
		p Welcome to GitHub tracker. Please login.
		a.btn.btn-primary.btn-lg(href="/auth", role="button") Login with GitHub