extend ../layouts/page_layout

block head
	title GitHub tracker
	script(type='text/javascript').
		var MainModule = "viewmodels/home_view_model";
	script(data-main='/js/config', src='/js/libs/require.js')

	<!-- Templates -->

	script#user-template(type="text/html")
		li(data-bind="css: { active: $root.selectedUser() === $data }")
			a(href="#" data-bind="text: $data, click: $root.selectUser.bind($root, $data)") 

	script#user-repositories-template(type="text/html")
		li(data-bind="css: { active: $root.selectedRepository() === $data.name() }")
			a(href="#" data-bind="text: name, click: $root.selectRepository.bind($root, $data.name())") 

	script#milestone-template(type="text/html")
		li(data-bind="css: { active: $root.selectedMilestone() === $data.id() }")
			a(href="#")
				<!-- span.badge.pull-right(data-bind="text: (id === '*' || id === 'none') ? '' : open_issues") -->
				span(data-bind="text: title, click: $root.selectMilestone.bind($root, $data.id())") 

	script#issue-phase-header-template(type="text/html")
		th.swimlane(data-bind="text: name, attr: { width: $root.issuesColumnWidth }")

	script#issue-category-header-template(type="text/html")
		li: a(data-bind="text: name, attr: { href: id() }")

	script#issue-phase-template(type="text/html")
		td.swimlane(data-bind="foreach: issues, attr: { width: $root.issuesColumnWidth }")
			.panel.panel-default
				.panel-heading
					b(data-bind="text: ('#' + number() + ' - ')")
					b(data-bind="text: title")
				.panel-body
					span(data-bind="text: body")
					.btn-group.btn-group-sm.pull-right
						button.btn.btn-default.dropdown-toggle(type="button", data-bind="attr: { title: assignee().login() }, css: { hide: !canAssign() }", data-toggle="dropdown")
							img.img-rounded.issue-assignee-avatar(data-bind="attr: { src: assignee().avatar_url() || '/images/question_mark.svg' }")
							span.caret
						ul.dropdown-menu(role="menu", data-bind="foreach: collaborators")
							li(data-bind="css: { active: login() === $parent.assignee().login() }")
								a(href="#", data-bind="click: $root.assignIssue.bind($root, $parent, $data)") 
									img.img-rounded.issue-assignee-avatar(data-bind="attr: { src: avatar_url() || '/images/question_mark.svg' }")
									span(data-bind="text: login() || 'Unassigned' ")
								
						button.btn.btn-default(type="button", data-bind="css: { hide: !canStart() }", title="Start work")
							span.glyphicon.glyphicon-play
						button.btn.btn-default(type="button", data-bind="css: { hide: !canPause() }", title="Put work on hold")
							span.glyphicon.glyphicon-pause
						button.btn.btn-default(type="button", data-bind="css: { hide: !canStop() }", title="Stop work")
							span.glyphicon.glyphicon-stop
						button.btn.btn-default(type="button", data-bind="css: { hide: !canAccept() }", title="Accept implementation")
							span.glyphicon.glyphicon-thumbs-up
						button.btn.btn-default(type="button", data-bind="css: { hide: !canReject() }", title="Reject implementation")
							span.glyphicon.glyphicon-thumbs-down


	script#issue-category-template(type="text/html")
		.panel.panel-default(data-bind="attr: { id : id() }")
			.panel-heading
				span(data-bind="text: name")
				button.disabled.btn.btn-default.btn-xs.pull-right(type="button") 
					span Add new issue

			table.table
				tbody
				tr(data-bind="template: { name: 'issue-phase-template', foreach: phases }")

block body
	nav.navbar.navbar-default(role="navigation")
		.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse" data-target="#home-navbar-collapse")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href="#") Tracker
		.collapse.navbar-collapse#home-navbar-collapse
			ul.nav.navbar-nav				
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown")
						span(data-bind="text: selectedUser() === null ? 'Users' : selectedUser()")
						b.caret
					ul.dropdown-menu(data-bind="template: { name: 'user-template', foreach: users }")
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown")
						span(data-bind="text: selectedRepository() === null ? 'Repositories' : selectedRepository()")
						b.caret
					ul.dropdown-menu(data-bind="template: { name: 'user-repositories-template', foreach: userRepositories }")
						
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown")
						span(data-bind="text: selectedMilestoneTitle()")
						b.caret
					ul.dropdown-menu
						li.disabled: a(href="#") Add new milestone
						li.divider
						<!-- ko template { name: 'milestone-template', foreach: milestones } -->			
						<!-- /ko -->
			ul.nav.navbar-nav.navbar-right
				li: p.saving-indicator.navbar-text(data-bind="css: { invisible: savingCount() == 0 }")
				li: p.loading-indicator.navbar-text(data-bind="css: { invisible: loadingCount() == 0 }")
				li
					.btn-group
						button.btn.btn-default.navbar-btn(data-bind="css: { disabled: selectedRepository() === null }", title="Add new issue to product backlog")
							span.glyphicon.glyphicon-plus
						button.btn.btn-default.navbar-btn(data-bind="css: { disabled: loadingCount() > 0 }, click: $root.reloadIssues.bind($root, true)", title="Refresh issues")
							span.glyphicon.glyphicon-refresh
					
				li.dropdown
					a.dropdown-toggle(href="#", data-toggle="dropdown") #{indexData.userName}
						b.caret
					ul.dropdown-menu
						li: a(href="#", data-bind="click: $root.reloadRepositories.bind($root)") Refresh repositories
						li.divider
						li: a(href="/logout") Logout

	table.table
		thead
			tr(data-bind="template: { name: 'issue-phase-header-template', foreach: labelsViewModel.labels().phases }")

	nav.navbar.navbar-default#issues-navbar(role="navigation")
		.navbar-header
			a.navbar-brand(href="#") Issues
		ul.nav.navbar-nav(data-bind="template: { name: 'issue-category-header-template', foreach: issuesViewModel.categories() }")
	.issues(data-spy="scroll", data-target="#issues-navbar")
		<!-- ko template: { name: 'issue-category-template', foreach: issuesViewModel.categories() } -->
		<!-- /ko -->




