.loading-indicator
	background-image url("../images/loading_indicator.gif")
	width 16px
	height 16px

.panel
	margin-bottom 4px

.issue-assignee-avatar
	width 24px
	height 24px

.assignee-button
	margin-right 8px