.loading-indicator
	background-image url("../images/loading_indicator.gif")
	width 16px
	height 16px

.saving-indicator
	background-image url("../images/saving_indicator.gif")
	width 16px
	height 16px

.panel
	margin-bottom 4px

.issue-assignee-avatar
	width 16px
	height 16px
	margin-right 4px

.assignee-button
	margin-right 8px

.swimlane
	border-right: 2px solid #ddd;