.loading-indicator
	background-image url("../images/loading_indicator.gif")
	width 16px
	height 16px

.saving-indicator
	background-image url("../images/saving_indicator.gif")
	width 16px
	height 16px

.panel
	margin-bottom 4px

.issue-assignee-avatar
	width 16px
	height 16px
	margin-right 4px

.assignee-button
	margin-right 8px

.swimlane
	border-right: 2px solid #ddd;

.checkout-command input
	border: 0px
	padding: 2px 4px;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 100%;
	color: #fff;
	background-color: #333;
	border-radius: 3px;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);

.category-heading
	padding-top 4px
	padding-bottom 4px

.category-panel:not(:last-child)
	margin-bottom 0px

table.phases
	margin-bottom 0px

table.phases > thead > tr > th
	border-bottom-width 0px
	padding-top 4px
	padding-bottom 4px
	text-align center

.issue .panel-heading
	padding-top 4px
	padding-bottom 4px

.issue .description
	white-space pre-wrap